.ideanode_modulesnode_modules/.DS_Store# Work  GitHubHost github.com    HostName github.com    PreferredAuthentications publickey    IdentityFile ~/.ssh/id_rsa_second# Personal  GitHubHost personal.github.com    HostName github.com    PreferredAuthentications publickey    IdentityFile ~/.ssh/id_rsa